<ion-header>
  <ion-navbar color="bigmomma">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>New Rider</ion-title>
  </ion-navbar>
</ion-header>


<ion-content style="background : #D8D8D8">

  <div class="first-row">
    <div class="acc-img circle">
    <img (click)="openCameraRider()" class="camera-plus" src="assets/imgs/person.png" 
    *ngIf="!riderImage">
    <img (click)="openCameraRider()"  src="{{riderImage}}" *ngIf="riderImage">
    </div>
  </div>

  <div class="divider">
    <p>
      RIDER INFO
    </p>
  </div>

  <div class="first-box">
    <ion-row>
      <ion-col col-6 style="font-weight: bold" >Rider First Name</ion-col>
      <ion-col col-6>
      	<ion-input [(ngModel)]="input.firstName" 
            name="firstName" placeholder="First Name">
      		
      	</ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 style="font-weight: bold" >Rider Last Name</ion-col>
      <ion-col col-6>
      	<ion-input [(ngModel)]="input.lastName" 
            name="lastName" placeholder="Last Name">
      		
      	</ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 style="font-weight: bold" >Address</ion-col>
      <ion-col col-12>
      <ion-input [(ngModel)]="input.address" 
            name="address" placeholder="Address">
      	
      </ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 style="font-weight: bold">Rider Birth Date</ion-col>
      <ion-col col-6>
      	<ion-datetime [(ngModel)]="input.riderDob" 
            name="riderDob" placeholder="Birth Date">
      		
      	</ion-datetime>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 style="font-weight: bold" >Plate Number</ion-col>
      <ion-col col-6>
      	<ion-input [(ngModel)]="input.plate" 
            name="plate" placeholder="Plate No">
      		
      	</ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6 style="font-weight: bold" >Phone Number</ion-col>
      <ion-col col-6>
      	<ion-input [(ngModel)]="input.phone" 
            name="phone" placeholder="Phone No">
      		
      	</ion-input>
      </ion-col>
    </ion-row>
  </div>

  <div class="divider">
    <p>
      SSM Verification
    </p>
    <p>All online business owners must registered with SSM in order to operate legally in Malaysia</p>
    <div class="ssmbox"></div>
    <p>IDENTITY VERIFICATION</p>
    <P>Submit your IC photo</P>
    <div class="ssmbox"></div>
    <p>and a photo of you holding your IC for verification</p>
    <div class="ssmbox"></div>

  </div>

  <div padding>
    <button ion-button full block color="bigmomma"(click)="addRider()">Save</button>
  </div>
</ion-content>