page-edit-restaurant {

    .top-image{
        height: 20%;
    }

    .item-right{
        text-align: right;
    }

    .item-header{
        background: #E9E9E9
    }

    .my-input {
    text-align:right;
    }
    .first-box{
        background: white;
    }
    .img-res{
        height: 100%;
        width: 100%;
        flex-shrink: 0;
    }
}
