page-add-menu {
  .detail{
        margin-top: 40px;
    }

    .radio-item{
        font-size: 12px
    }

    .food-image{
        height: 120px;
        width: 120px;
        margin: auto 0px;

    }
    .item-right{
        text-align: right;
    }

    .image-div{
    	margin-top:60px;
        text-align: center
    }

    
}
