page-order {
    .label{
        height: 50px;
        text-align: center;
    }

    .order{
        padding: 5px 20px;
        height: 100px;
        background: white;
        border-left: solid #F5A623;
    }

    .past-order{
        padding: 5px 20px;
        height: 100px;
        background: white;
        border-left: solid greenyellow;
    }
}
