<ion-header>
  <ion-navbar color="bigmomma">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Orders</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background: #D8D8D8">


  <div>
    <ion-segment [(ngModel)]="orders" color="bigmomma" style="background: white">
      <ion-segment-button value="current">
        Current Order
      </ion-segment-button>
      <ion-segment-button value="past">
        Past Order
      </ion-segment-button>
    </ion-segment>
  </div>

  <div class="label">
    <ion-row>
      <ion-col col-3>
        <small><span class="dot"></span>Food Ready</small>
      </ion-col>
      <ion-col col-3>
        <small><span class="dotOtw"></span>On The Way</small>
      </ion-col>
      <ion-col col-3>
        <small><span class="dotDeliver"></span>Delivered</small>
      </ion-col>
      <ion-col col-3>
        <small><span class="dotCancel"></span>Cancelled</small>
      </ion-col>
    </ion-row>
  </div>


  <div [ngSwitch]="orders">
    <ion-list *ngSwitchCase="'past'">
      <div *ngFor="let order of pastOrders" (click)="pastDetail(pastOrder)" class="past-order">
        <p>{{order.order.date | date : mediumDate}}</p>
        <hr>
        <p>Receipt No.</p>
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'current'">
      <div *ngFor="let order of currentOrders" (click)="orderDetail()" class="order">
        <p>{{order.order.date | date : mediumDate}}</p>
        <hr>
        <p>Receipt No.</p>
      </div>
    </ion-list>
  </div>

</ion-content>