page-find-rider {

    .search{
        text-align: center;
        margin-top: 50%
    }

    .search-icon{
        font-size: 80px;
    }

    .rider-image{
        width: 150px;
        height: 150px;
        padding: 20px;
    }

}
