<ion-header>
  <ion-navbar color="bigmomma">
    <ion-title>Profile Setting</ion-title>
  </ion-navbar>
</ion-header>


<ion-content style="background : #D8D8D8">

  <div class="first-row">
    <div class="acc-img circle">
    <img (click)="openCameraRestImage()" class="food-image" src="assets/imgs/rest.png" 
    *ngIf="!restImage" style="width:80px;height:80px;margin-top:15%">
    <img (click)="openCameraRestImage()" class="food-image" src="{{restImage}}" 
    *ngIf="restImage">
  </div>
    </div>

  <div class="divider">
    <p>
      RESTAURANT INFO
    </p>
  </div>

  <div class="first-box">
    <ion-row>
      <ion-col col-6>
        <ion-item no-lines no-padding>
          <ion-label  style="font-weight: bold"  stacked>Company Name</ion-label>
        </ion-item>
      </ion-col>

      <ion-col col-6>
        <ion-item no-lines no-padding >
          <ion-textarea [(ngModel)]="RestName" placeholder={{RestName}}></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <ion-item no-lines no-padding>
          <ion-label  style="font-weight: bold"  stacked>Address</ion-label>
        </ion-item>
      </ion-col>
      <ion-col col-12>
       <ion-item no-lines no-padding >
          <ion-textarea class="ion-input" [(ngModel)]="RestAddress" placeholder={{RestAddress}}>     
          </ion-textarea>
       </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <ion-item no-lines no-padding>
          <ion-label  style="font-weight: bold"  stacked>Unit No</ion-label>
        </ion-item>
      </ion-col>

      <ion-col col-6>
        <ion-item no-lines no-padding>
          <ion-textarea  [(ngModel)]="restUnit" placeholder={{restUnit}}></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <ion-item no-lines>
          <ion-label  style="font-weight: bold"  stacked>Location</ion-label>
        </ion-item>
      </ion-col>

      <ion-col col-6>
        <ion-item no-lines>
          <ion-textarea [(ngModel)]="location"  placeholder="{{location}}"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <ion-item no-lines>
          <ion-label  style="font-weight: bold"  stacked>Opening Hour</ion-label>
        </ion-item>
      </ion-col>

      <ion-col col-6>
        <ion-item no-lines>
          <ion-datetime displayFormat="HH:mm A" [(ngModel)]="restOpenHour"  placeholder={{restOpenHour}}></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>

     <ion-row>
      <ion-col col-6>
        <ion-item no-lines>
          <ion-label  style="font-weight: bold"  stacked>Closing Hour</ion-label>
        </ion-item>
      </ion-col>

      <ion-col col-6>
        <ion-item no-lines>
          <ion-datetime displayFormat="HH:mm A"  [(ngModel)]="restCloseHour" placeholder={{restCloseHour}}></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <ion-item no-lines no-padding>
          <ion-label  style="font-weight: bold"  stacked>About</ion-label>
        </ion-item>
      </ion-col>
      <ion-col col-12>
       <ion-item no-lines no-padding text-wrap>
          <ion-input [(ngModel)]="restAbout" placeholder={{restAbout}}>     
          </ion-input>>
       </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <ion-item no-lines no-padding>
          <ion-label  style="font-weight: bold"  stacked>SSM Registeration No.</ion-label>
        </ion-item>
      </ion-col>

      <ion-col col-6>
        <ion-item no-lines no-padding text-wrap>
          <ion-input [(ngModel)]="RestSSMNo" placeholder={{RestSSMNo}}></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <ion-item no-lines no-padding>
          <ion-label  style="font-weight: bold"  stacked>Category</ion-label>
        </ion-item>
      </ion-col>

      <ion-col col-12>
        
          <ion-item *ngFor="let category of restCat">
  <ion-label>{{category.category}}</ion-label>
  <!-- <ion-label>Select Category</ion-label> -->
  <ion-select >
    <ion-option *ngFor="let category of restCategories" value="{{category.id}}">{{category.category}}</ion-option>
  </ion-select>
</ion-item>
      </ion-col>
    </ion-row>

  </div>

  <div class="divider">
    <p>
      PERSONAL INFO
    </p>
  </div>

  <div class="first-box">
    <ion-row>
      <ion-col col-6>
        <ion-item no-lines no-padding >
          <ion-label  style="font-weight: bold"  stacked>Name</ion-label>
        </ion-item>
      </ion-col>

      <ion-col col-6>
        <ion-item no-lines no-padding text-wrap>
          <ion-textarea [(ngModel)]="ownerName"  placeholder={{ownerName}}></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <ion-item no-lines no-padding>
          <ion-label  style="font-weight: bold"  stacked>Email Address</ion-label>
        </ion-item>
      </ion-col>

      <ion-col col-6>
        <ion-item no-lines no-padding>     
          <ion-textarea  [(ngModel)]="ownerEmail" placeholder={{ownerEmail}}></ion-textarea>>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <ion-item no-lines no-padding>
          <ion-label  style="font-weight: bold"  stacked>Phone Number</ion-label>
        </ion-item>
      </ion-col>

      <ion-col col-6>
        <ion-item no-lines no-padding>     
          <ion-input type="Number" [(ngModel)]="ownerPhoneNo"  placeholder=+6{{ownerPhoneNo}}></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

  </div>

  <div class="divider">
    <p>
      SSM Verification
    </p>
    <p>All online business owners must registered with SSM in order to operate legally in Malaysia</p>

    <div>
    <img (click)="openCameraSsm()" class="ssmbox" src="assets/imgs/Image-Edition-Tools-Screenshot-icon.png"  *ngIf="!ssmImage">
    <img (click)="openCameraSsm()" class="ssmbox" src="{{ssmImage}}" *ngIf="ssmImage">
  </div>

    <p>IDENTITY VERIFICATION</p>
    <P>Submit your IC photo</P>
    <div>
    <img (click)="openCameraIc()" class="ssmbox" src="assets/imgs/Image-Edition-Tools-Screenshot-icon.png"  *ngIf="!icImage">
    <img (click)="openCameraIc()" class="ssmbox" src="{{icImage}}" *ngIf="icImage">
  </div>
    <p>and a photo of you holding your IC for verification</p>
    <div>
    <img (click)="openCameraHoldIc()" class="ssmbox" src="assets/imgs/Image-Edition-Tools-Screenshot-icon.png"  *ngIf="!icHold">
    <img (click)="openCameraHoldIc()" class="ssmbox" src="{{icHold}}" *ngIf="icHold">
  </div>

  </div>

  <div padding>
    <button ion-button full block color="bigmomma" (click)="updateForm()">Save</button>
  </div>
</ion-content>