page-profile {

        .circle {
            border-radius: 50%;
            width: 120px;
            height: 120px;
            margin: 0 auto;
            text-align: center;
            overflow: hidden;
            background-color: white;
        }
    
        .first-row{
            padding-top: 20px;

        }
        .first-row > div > img{
            width: inherit;
            height: inherit;
            display:block;
            margin:auto;
    
        }
    
        .third-row{
            text-align: center;
            width: 100%;
            align-items: center;
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
    
        .second-row{
            font-family: "Montserrat-Light";
            font-size: 13px !important;
        }
    /*
        .acc-img{
            padding: 10px;
        }*/
    
        .list-ios > .item-block:first-child {
            border: none;
        }
    
        .list-ios > .item-block:last-child {
            border: none;
        }
    
        .third-row > div{
            border-radius: 50px 50px;
            width: 80%;
            padding: 2px 2px 2px 2px;
            background-image: url("../assets/imgs/gradient-180.png");
            background-size: inherit;
        }
        .third-row > div > button{
            font-size: 16px;
            font-weight: bold;
            border-radius: 50px 50px;
            background-color: white;
            width: 100%;
            height: 40px;
            font-family: "Montserrat-Bold";
    
        }
    
        .acc-name > p{
            text-align: center;
            font-size: 18px;
            color: white;
            font-weight: bold;
            font-family: "Montserrat-Bold";
    
        }

        .first-box{
            background: white;
        }

        ion-row{
            padding: 10px;
            border-bottom: groove 0.5px;
        }

        .divider{
            padding:16px;
        }

        .ssmbox{
            background-color: white;
            width: 50%;
            height: 90px;
            padding: 0px 16px;
        }

        .img-res{
            height: 200px;
            width: 100%;
        }
}
