<ion-header>
  <ion-navbar color="bigmomma">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding-top>
	<div *ngIf="restJobInfo">
	<div>
    <img class="second" src="assets/imgs/highlights.png">
  </div>

<h4 text-left item-left>Earnings</h4>
<ion-item style="background: #ECE8E7" >
	<ion-label>Today’s Jobs Completed</ion-label>
	<b style="color: black" item-end>{{todayTotalJob}}</b>
</ion-item>
<p style="color: white"></p>

<ion-item style="background: #ECE8E7">
	<ion-label>Today’s Earnings</ion-label>
	<b style="color: black" item-end item-end>{{todayEarning| currency:"RM":0}}</b>
</ion-item>
<p style="color: white"></p>

<ion-item style="background: #ECE8E7">
	<ion-label>(Total) Monthly Jobs Completed</ion-label>
	<b style="color: black" item-end>{{todayTotalJob}}</b>
</ion-item>
<p style="color: white"></p>

<ion-item style="background: #ECE8E7">
	<ion-label>(Total) Monthly Earnings</ion-label>
	<b style="color: black" item-end>{{todayEarning| currency:"RM":0}}</b>
</ion-item>
</div>
<div *ngIf="!restJobInfo">
    <h1 align="center">Whoopss!!!</h1>
    <p align="center">Please set up a restaurant</p>
  </div>

       

</ion-content>