<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="bigmomma">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sign Up</ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-bounce>

	
  <img src="assets/imgs/loginBg.png">
	

	<div padding text-center class="top">
      <img src="assets/imgs/logo-bigmomma.png" class="logo">
      <button ion-button block color="bigmomma" (click)="facebookSignUp()">Sign Up with Facebook</button>
      <button ion-button block color="bigmomma" (click)="doGoogleSignUp()">Sign Up with Google</button>
      <a style="color: #000000;"> Already have an account?</a><b style="color: #000000;" (click)="login()">Log In</b>      
  </div>

    <div style="text-align: center" id="footer">
    <a style="color: #000000;"> By continuing, I confirm that I have read and agreed to the <b style="color: #000000;" (click)="termAndCondition()">Terms of Use & Conditions.</b>
  and <b style="color: #000000;" (click)="privacyPolicy()">Privacy Policy</b></a>
</div>

<div *ngIf="fbProfile">
  <!-- <img src="fbProfile.picture">    
    <p>{{fbProfile.email}}</p>
    <p>{{fbProfile.name}}</p>
    <p>{{fbProfile.first_name}}</p>
    <p>{{fbProfile.password}}</p> -->
    <p>new</p>
    <p>{{data.email}}</p>
    <p>{{data.password}}</p>

</div>

<div *ngIf="user">
    <p>{{user}}</p>
    <p>{{user.name}}</p>

</div>

<div>
  <p>{{user}}</p>
</div>


</ion-content>
