<ion-header>
  <ion-navbar color="bigmomma">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Restaurant</ion-title>
    <ion-buttons end>
        <button ion-button *ngIf="!restaurantInfo"(click)="setupRest()" class="plus">
        <ion-icon name="add"></ion-icon>
        </button>
      <button *ngIf="restaurantInfo" ion-button icon-only (click)="presentProfileModal()">
        <ion-icon ios="ios-create" md="md-create" item-end ></ion-icon>
        </button>
        <button *ngIf="restaurantInfo" ion-button icon-only (click)="goToMediaSocial()" >
          <ion-icon name="share"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content style="background: #D8D8D8" no-bounce>
  <div *ngIf="restaurantInfo">
    <img class="img-res" src="{{restImage}}">


  <div class="detail">
    <ion-item no-lines no-padding>
      <ion-label>
        {{RestName}}
      </ion-label>
  <ion-toggle [(ngModel)]="toggleValue"(ionChange)="OpenRest()" class="open" class="toggle-small" toggle-class="toggle-calm"></ion-toggle>

     
    </ion-item>

    <div class="content">
 
      <small>{{restCategory}}</small>

      <!-- <ion-row class="rating">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-badge>
          30 min
        </ion-badge>
      </ion-row> -->
      <p>{{RestOpenHour.substring(0,5)}} - {{RestCloseHour.substring(0,5)}}</p>
      <!-- <div class="box-below">
        Discount 15% for all purchases! Just enter Coupon Code M1234
      </div> -->

    </div>
  </div>
  <div class="menus">
    <div>
      <ion-segment [(ngModel)]="restaurants" color="bigmomma" style="background: white">
        <ion-segment-button value="menu">
          Mains                  
         <ion-icon ios="ios-add-circle" md="md-add-circle" style="vertical-align: middle"  (click)="addMenuModal()"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="beverage">       
          Beverages
          <ion-icon ios="ios-add-circle" md="md-add-circle" style="vertical-align: middle" (click)="addBeverageModal()"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </div>

    <div [ngSwitch]="restaurants">
      
      <ion-list *ngSwitchCase="'menu'" >
        <li *ngFor="let main of mains" value="{{main.id}}">
        <ion-item>
          <ion-avatar item-start>
            <img src="{{imageLink}}{{main.data.food_image}}">
          </ion-avatar>
          <h2>{{main.data.name}}</h2>
          <p>RM{{main.data.price}}</p>
          <ion-icon ios="ios-create" md="md-create" item-end (click)="editMenu(main.data.id)"></ion-icon>
        </ion-item>
      </li>
      </ion-list>
     

      <ion-list *ngSwitchCase="'beverage'">
        <li *ngFor="let beverage of beverages" value="{{beverage.id}}">
        <ion-item>
          <ion-avatar item-start>
            <img src="{{imageLink}}{{beverage.data.drink_image}}">
          </ion-avatar>
          <h2>{{beverage.data.name}}</h2>
          <p>RM{{beverage.data.price}}</p>
          <ion-icon name="create" item-end (click)="editBeverage(beverage.data.id)"></ion-icon>
        </ion-item>
          </li>
      </ion-list>
    </div>
  </div>
  </div>
  <div *ngIf="!restaurantInfo">
    <h1 align="center">Whoopss!!!</h1>
    <p align="center">Please set up a restaurant</p>
  </div>
</ion-content>