page-my-restaurant {

    .menus{
        margin-top: 50%;
    }

    .detail{
        width: 90%;
        background: white;
        height: 200px;
        position: absolute;
        margin-top: -40px;
        margin-left: auto;
        margin-right: auto;
        right: 0px;
        left: 0px;
        padding: 10px;
    }

<<<<<<< HEAD
    .discount{
        width: 80%;
        background: #ECECEC;
        height: 70px;
        position: absolute;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        right: 0px;
        left: 0px;
        padding: 10px;
    }
=======
    .box-below{
        background: #D8D8D8;
        padding: 5px;
        margin-top: 10px;
    }

    .rating > ion-icon{
        padding: 3px;
    }

>>>>>>> 2c5b5fb2f0486eda19ae0150f4e6148490a379e8
}
