page-my-restaurant {

    .menus{
        margin-top: 60%;
    }

    .detail{
        width: 90%;
        background: white;
        height: 200px;
        position: absolute;
        margin-top: -1px;
        margin-left: auto;
        margin-right: auto;
        right: 0px;
        left: 0px;
        padding: 10px;
    }


    .box-below{
        background: #D8D8D8;
        padding: 5px;
        margin-top: 10px;
    }

    .rating > ion-icon{
        padding: 3px;
    }

    .open{
        margin-left:250px;
        margin-top:-30px;

        // margin-right: -90px;

    }

    .plus{
        margin-right:10px;
    }

    
}
