page-my-restaurant {

    .menus{
        margin-top: 50%;
    }

    .detail{
        width: 80%;
        background: white;
        height: 190px;
        position: absolute;
        margin-top: -20px;
        margin-left: auto;
        margin-right: auto;
        right: 0px;
        left: 0px;
        padding: 10px;
    }

}
