<ion-header>
  <ion-navbar color="bigmomma">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Restaurant</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="editRestaurant()">
          <ion-icon ios="ios-redo" md="md-redo"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content style="background: #D8D8D8">
  <div style="height: 20%;">
    <img src="assets/imgs/res_bg.png">
  </div>
  <ion-toggle [(ngModel)]="open" (ionChange)="OpenRest(rest)" checked="open"></ion-toggle>

 <!--  <ion-toggle  [(ngModel)]="open" href="#" class="open" *ngIf= "open" (click)="OpenCloseRest()"></ion-toggle> -->




  <div class="detail">
    <ion-item no-lines no-padding>
      <ion-label>
        Restoran Tanjung
      </ion-label>
     <ion-icon ios="ios-create" md="md-create" item-end (click)="editRestaurant()"></ion-icon>
    </ion-item>

    <div class="content">
 
      <small>Malaysian, Western, Halal, Indonesian</small>

      <ion-row class="rating">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-badge>
          30 min
        </ion-badge>
      </ion-row>
      <p>10:00 AM - 5:00 PM</p>
      <div class="box-below">
        Discount 15% for all purchases! Just enter Coupon Code M1234
      </div>

    </div>
  </div>
  <div class="menus">
    <div>
      <ion-segment [(ngModel)]="restaurants" color="bigmomma" style="background: white">
        <ion-segment-button value="menu">

          Mains
       
           
         <ion-icon ios="ios-add-circle" md="md-add-circle"  (click)="addMenu()"></ion-icon>
        </ion-segment-button>

        <ion-segment-button value="beverage">
          
          Beverages
          <ion-icon ios="ios-add-circle" md="md-add-circle"  (click)="addBeverages()"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </div>

    <div [ngSwitch]="restaurants">
      
      <ion-list *ngSwitchCase="'menu'" >
        <li *ngFor="let main of mains" value="{{main.id}}">
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/imgs/person.png">
          </ion-avatar>
          <h2>{{main.name}}</h2>
          <p>RM{{main.price}}</p>
          <ion-icon ios="ios-create" md="md-create" item-end (click)="editMenu()"></ion-icon>
        </ion-item>
      </li>
      </ion-list>
     

      <ion-list *ngSwitchCase="'beverage'">
        <li *ngFor="let beverage of beverages" value="{{beverage.id}}">
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/imgs/person.png">
          </ion-avatar>
          <h2>{{beverage.name}}</h2>
          <p>RM{{beverage.price}}</p>
          <ion-icon name="create" item-end (click)="editMenu()"></ion-icon>
        </ion-item>
          </li>
      </ion-list>
    </div>
  </div>

  <!-- <div><ul>
      <li *ngFor="let beverage of beverages" value="{{beverage.id}}"><div   
        >{{beverage.name}}</div></li> -->
      <!-- loop start -->
      <!--   <li><div class="square" style="background-color: palegreen">{{category.category}}</div></li> -->
        <!-- <li><div class="square" style="background-color: aqua">EDUCATION</div></li>
        <li><div class="square" style="background-color: purple">ENTERTAIMENT</div></li>
        <li><div class="square" style="background-color: yellow">FOOD AND BEVERAGES</div></li>
        <li><div class="square" style="background-color: coral">GADGETS</div></li>
        <li><div class="square" style="background-color: bisque">GROCERIES</div></li>
        <li><div class="square" style="background-color: orange">TRANSPORTATION</div></li> -->
    <!-- </ul></div> -->

</ion-content>