page-rider {

    .rider-row{
        display: flex!important;
        align-content: center!important;
        align-items: center!important;
    }

    .rider-item{
        margin: 5px 0px;
        border-radius: 3px;
    }

}
