page-order-detail {

    .receipt{
        height: 10%;
    }

    .icon-row{
        margin-top: 20px;
        text-align: center;
    }

    .check{
        font-size: 70px;
        color: green;
    }

    .close{
        font-size: 70px;
        color: red;
    }

    .total{
        height: 70px;
    }

    .toggle{
        margin: 0 auto;
        padding: 20px 16px;
    }

}
