page-edit-beverage {

    .detail{
        margin-top: 40px;
    }

    .radio-item{
        font-size: 12px
    }

    .food-image{
        height: 120px;
        width: 120px;
        margin: auto 0px;
        margin-top:30%;

    }
    .item-right{
        text-align: right;
    }

    .image-div{
        text-align: center
    }
}
