page-forgot {
	.btn-send-container{
	   	font-family: "Montserrat-Bold";	
		text-align: center;
		width: 100%;
		align-items: center;
		display: flex;
		justify-content: center;
		color: black;

	}

}
